.height {
    height: 800px;
}

li:hover {
    background-color: gray;
    border-radius: 20px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

img {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    vertical-align: middle;
}

.price-remove-minimum-spend {
    margin-left: 13rem !important;
}

.input-group-text {
    margin-left: 37rem !important;
}

.gift-remove-minimum-spend {
    margin-left: 11rem !important;
}
